    
      <ion-view title="Swine Records">
        <ion-content padding="true">
          <div class="row" align="center">
            <div class = "col col-center" style="border-bottom: 1px solid #DCDCDC;">
              <h3>Records</h3><br>
              <h4>Select an option from</h4>
              <h4>the Records drop-down menu</h4>
              <h4>to review or submit</h4>
              <h4>your observations.</h4>
              <br>
              <br>
              <h3>Thank you!</h3>
            </div>                        
          </div>
        </ion-content>
      </ion-view>